[submodule "presidents/vendor/plugins/acts_as_sdata"]
	path = presidents/vendor/plugins/acts_as_sdata
	url = git://github.com/DanielVartanov/acts_as_sdata.git
[submodule "presidents/vendor/plugins/usher"]
	path = presidents/vendor/plugins/usher
	url = git://github.com/joshbuddy/usher.git
[submodule "presidents/vendor/plugins/ratom"]
	path = presidents/vendor/plugins/ratom
	url = git@github.com:DanielVartanov/ratom.git
