[submodule "presidents/vendor/plugins/acts_as_sdata"]
	path = presidents/vendor/plugins/acts_as_sdata
	url = git://github.com/DanielVartanov/acts_as_sdata.git
[submodule "presidents/vendor/plugins/usher"]
	path = presidents/vendor/plugins/usher
	url = git://github.com/joshbuddy/usher.git
[submodule "trading-accounts/vendor/plugins/usher"]
	path = trading-accounts/vendor/plugins/usher
	url = git://github.com/joshbuddy/usher.git
[submodule "trading-accounts/vendor/plugins/acts_as_sdata"]
	path = trading-accounts/vendor/plugins/acts_as_sdata
	url = git://github.com/DanielVartanov/acts_as_sdata.git
